<template>
    <div>
      <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">AdsCar <span class="text-small">({{ user.username }})</span></a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/#/">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <b-icon icon="house-fill"></b-icon>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <!--<div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <b-icon icon="calendar"></b-icon>
                This week
              </button>
            </div>-->
          </div>
          <GmapMap :center="center" :zoom="11" style="width:100%;height: 400px;" >
            <gmap-polyline :key="i" v-for="(p,i) in linePath" :path="p.path" :editable="false" :options="p.options" @click="toggleInfoWindow(p,i)" ref="polyline"></gmap-polyline>
            <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
      </gmap-info-window>
          </GmapMap>

          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <div class="col-lg-12">
              <h2>Distance by Daily</h2>
              <apexchart width="900" type="bar" :options="chartOptions" :series="series" ref="chart1"></apexchart>
            </div>
          </div>
          <!-- <h2>Section title</h2> -->
          <div class="table-responsive">
            <!--<table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>-->
          </div>
        </main>
      </div>
    </div>
    </div>
</template>
<script>
import router from '../router'
import axios from 'axios'
export default {
  name: 'Dashboard',
  data () {
    return {
      // default to Montreal to keep it simple
      // change this to whatever makes sense
      center: { lat: -6.2657064, lng: 106.76825 },
      errorMessage: [],
      linePath: [],
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,
      infoOptions: {
        content: '',
        // optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: -5
        }
      },
      user: {
        name: 'Admin'
      },
      chartOptions: {
        chart: {
          id: 'vuechart-example'
        },
        xaxis: {
          categories: []
        }
      },
      series: [{
        data: []
      }],
      arrField: [],
      arrJarak: []
    }
  },
  tipPosition: {
    lat: 47.374592,
    lng: 8.548867
  },
  mounted () {
    this.getUserData()
    this.geolocate()
    // this.getClientPath()
  },
  methods: {
    getUser: function () {
      return this.user
    },
    getUserData: function () {
      axios.get('/api/user')
        .then((response) => {
          this.user = response.data.user
          this.getClientPath(this.user.username)
        })
        .catch((errors) => {
          console.log(errors)
          router.push('/')
        })
      return this.user.username
    },
    toggleInfoWindow: function (linePath, idx) {
      this.infoWindowPos = linePath.path[linePath.path.length - 1]
      this.infoOptions.content = linePath.lineId

      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen
      } else {
        this.infoWinOpen = true
        this.currentMidx = idx
      }
    },
    geolocate: function () {
      navigator.geolocation.getCurrentPosition(position => {
        this.center = {
          lat: -6.2657064, // position.coords.latitude,
          lng: 106.76825 // position.coords.longitude
        }
      })
    },
    updateChartSatu: function (jarak, field) {
      this.arrField.push(field)
      this.chartOptions = {
        ...this.chartOptions,
        ...{
          xaxis: {
            categories: this.arrField,
            tooltip: {
              formatter: function (val, opts) {
                return val + 'elaaah'
              }
            }
          }
        }
      }
      this.arrJarak.push(jarak)
      this.series = [{
        name: this.clientId,
        data: this.arrJarak
      }]
      this.$refs.chart1.updateSeries([{
        data: this.series[0].data
      }], false, true)
    },
    updatePath: function (data) {
      this.linePath.push(data)
    },
    getClientPath: function (clientId) {
      console.log(clientId)
      let elastic = {
        sort: [{
          time: {
            order: 'asc'
          }
        }],
        _source: ['location', 'time'],
        from: 0,
        size: 10000,
        query: {
          bool: {
            must: {
              range: {
                time: {
                  gte: '2020-02-01T00:00:00Z',
                  lte: '2020-02-24T23:59:59Z'
                }
              }
            },
            filter: {
              term: {
                client: clientId
              }
            }
          }
        }
      }
      axios.post('/adscar/_search', elastic)
        .then((response) => {
          let data = response.data.hits.hits.reduce((result, data) => {
            if (data._source.time.substr(0, 10) in result) {
              result[data._source.time.substr(0, 10)].push({
                'lat': data._source.location.lat,
                'lng': data._source.location.lon
              })
            } else {
              result[data._source.time.substr(0, 10)] = []
              result[data._source.time.substr(0, 10)].push({
                'lat': data._source.location.lat,
                'lng': data._source.location.lon
              })
            }
            return result
          }, [])
          Object.keys(data).forEach((key) => {
            let color = '#' + (Math.random() * 0xFFFFFF << 0).toString(16)
            let latOrigin = data[key][0].lat
            let lonOrigin = data[key][0].lng
            let destinations = data[key].map((latlon) => {
              return latlon.lat + ',' + latlon.lng
            })
            let des = []
            let destination = destinations.reduce((result, data, index) => {
              // console.log(index)
              if (index !== 0 && ((index % Math.ceil(destinations.length / 25)) === 0 || index === (destinations.length - 1))) {
                des.push(data)
              }
              return des
            }, [])
            axios.get('http://localhost:8000/https://maps.googleapis.com/maps/api/distancematrix/json?language=id&origins=' + latOrigin + ',' + lonOrigin + '&destinations=' + destination.join('|') + '&units=metric&key=AIzaSyAviBAtItVrN7jGYas80THuJcuoNNl_Bs0')
              .then((maps) => {
                let distance = maps.data.rows[0].elements.map((element) => {
                  return element.distance.value
                })
                let jarak = distance.reduce((prev, curr) => { return (prev + curr) })
                let linePath = {
                  path: data[key],
                  lineId: key + '(' + (jarak / 1000) + ' Km)',
                  options: {
                    strokeOpacity: 0.5,
                    strokeColor: color,
                    strokeWeight: 4
                  }
                }
                this.updatePath(linePath)
                this.updateChartSatu((jarak / 1000), key)
              })
              .catch((err) => {
                console.log(err)
              })
          })
        })
        .catch((errors) => {
          console.log(errors)
        })
    }
  }
}
</script>
<style lang="scss">
  body {
    font-size: .875rem;
  }

  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  /*
   * Sidebar
   */

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }

  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }

  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }

  .sidebar .nav-link.active {
    color: #007bff;
  }

  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }

  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }

  /*
   * Content
   */

  [role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
  }

  @media (min-width: 768px) {
    [role="main"] {
      padding-top: 48px; /* Space for fixed navbar */
    }
  }

  /*
   * Navbar
   */

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }

  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }

  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>